@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: VCR;
    src: url("fonts/VCR_OSD_MONO_1.001.ttf");
}

@layer base {
    body {
        @apply bg-slate-900;
    }

    a,
    svg {
        @apply ease-linear duration-200;
    }
    h2,
    h3 {
        @apply text-4xl;
        @apply pb-6;
    }
    h4,
    h5,
    h6 {
        @apply text-2xl;
        @apply pb-6;
    }
    p {
        @apply text-xl;
        @apply pb-6;
    }
    button,
    .button {
        @apply block;
        @apply p-2;
        @apply mb-2;
        @apply mr-2;
        @apply rounded;
        @apply bg-blue-200;
    }
    nav a {
        @apply text-white-100;
        @apply hover:text-blue-200;
    }
    .current a,
    .current {
        @apply text-blue-400;
        @apply cursor-default;
    }
    canvas {
        @apply hidden;
        @apply md:block;
    }
    #instruction {
        @apply hidden;
        @apply md:block;
    }
}

#gameRoot {
    position: relative;
    overflow: hidden;
}

#gameRoot canvas {
    z-index: 1;
}

.tooltip {
    transform: translate(-50%, -50%);
    position: absolute;
    width: 192px;
    height: 72px;
    padding: 1em;
    text-align: center;
    background-image: url('assets/tooltip.png');
    background-repeat: no-repeat;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 450ms linear 250ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}
